{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}

{{#foreach posts}}
<article class="post">
    <header class="post-header">
        <h1><a href="{{url}}" title="Read &quot;{{title}}&quot;">{{title}}</a></h1>
        
        <!-- Post meta -->
        {{> post-meta}}
    </header>
    <div class="post-content">
        <p>{{excerpt}}&hellip;</p>
    </div>
    <a href="{{url}}" class="button button-default button-keep-reading" title="Read &quot;{{title}}&quot;">Keep reading &rarr;</a>
</article>
{{/foreach}}

{{!! After all the posts, we have the previous/next pagination links }}

{{#if pagination.prev}}
    <hr>
    {{pagination}}
{{else}}
    {{#if pagination.next}}
        <hr>
        {{pagination}}

    {{/if}}
{{/if}}